.social-media {
  @include clearfix;
  list-style-type: none;
  margin:0;
  padding:0;
  clear: both;
}

li{
  float: left;
  margin: 0;
}

a {
  padding: 0.25em;
  display: inline-block;
  color: $black;
}

a:hover {
  color: $blue;
}
